$accent: #8aadf4;
$accent-soft: #dbeafe;
$background: rgba(36, 41, 58, 0.93); // original #24293aee (now 93% opacity)
$background-solid: #24293a;
$border: #22222a;
$text: #e0e0e6;
$button-hover: rgba(65, 72, 103, 0.8); // original #414867cc (cc = 80% opacity)
$button-active: rgba(
  138,
  173,
  244,
  0.53
); // original #8aadf488 (88 = 53% opacity)

window#wallpaper_widget {
  background-color: $background;
  border-radius: 18px;
  border: 2px solid $border;
  box-shadow: 0 9px 20px 0 #31324466;
  padding: 24px 28px;
  color: $text;
}

button {
  background-color: $background-solid;
  border-radius: 13px;
  padding: 7px;
  margin: 3px;
  border: 2px solid transparent;
}

button:hover {
  border: 2px solid $accent;
  background-color: $button-hover;
}

.fade-selected {
  background-color: $accent-soft;
  border: 2.5px solid $accent;
  color: $accent;
}

.wallpaper-tile {
  background-color: $background-solid;
  border-radius: 8px;
  border: 1px solid $border;
}

.wallpaper-button {
  background-color: transparent;
  border-radius: 6px;
  padding: 4px;
  margin: 0;
  border: none;
}

.wallpaper-button:hover {
  border: 2px solid $accent;
  background-color: $button-hover;
}

.empty-tile {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  border: 1px dashed $border;
}
